@charset "utf-8";
/*reset.css*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*common css*/
.fs24 {
    font-size: 0.24rem;
}

.fs28 {
    font-size: 0.28rem;
}

.fs32 {
    font-size: 0.32rem;
}

.fs36 {
    font-size: 0.36rem;
}

/*loading css*/
#loading-view {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}

#loading-view .loading-gif {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.24rem;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

/*弹窗*/
#msg-wrap {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
}

#msg-wrap .msg-view {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    width: 5.4rem;
    height: 4rem;
    border-radius: 0.2rem;
    background: #fff;
    overflow: hidden;

}

#msg-wrap .msg-content-wrap {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 1rem;
}

#msg-wrap .msg-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    width: 4.7rem;
    font-size: 0.36rem;
    line-height: 1.5;
    text-align: center;
}

#msg-wrap .msg-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1rem;
    color: #fff;
    text-align: center;
    font-size: 0.32rem;
    line-height: 1rem;
    background: #107fe0;
}