@charset "utf-8";
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap {
    position: relative;
    padding: 0.2rem;
    height: 100%;
    overflow-x: hidden;
    background: #fff;
    box-sizing: border-box;
}

.title {
    color: #000;
    line-height: 0.42rem;
    word-break: break-all;
}

.time {
    height: 0.6rem;
    color: #858585;
    line-height: 0.6rem;
    overflow: hidden;
}

.view {
    margin-top: 0.13rem;
    overflow-x: hidden;
}

.view > img {
    display: block;
    width: 100%;
}
